<div {{bind-attr class="virusinfo2:hidden :_root-container"}}>
  <div {{bind-attr class="isLogin2:hidden :_container :_container-center :_width-main :animated :fadeInDown"}} >
    {{outlet main}}
  </div>
  {{outlet login}}
</div>

<div {{bind-attr class="virusinfo2::hidden :container-fluid"}}>
  {{outlet info}}
</div>
