<!--<div class="hidden _container _width-main animated fadeInDown" style="background-color: white; padding: 15px; margin: 20px auto; ">-->
  <!-- Single button -->
<div class="row _center">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Năm {{currentYear.year}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {{#each years}}
        <li {{action 'selectYear' _view.contentIndex}}><a>{{year}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Tháng {{currentMonth.month}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {{#each currentYear.months}}
        <li {{action 'selectMonth' _view.contentIndex}}><a>{{this}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Server {{currentServer.server}}  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li {{bind-attr class="currentMonth::hidden"}} {{action 'selectAllServer'}}><a>All</a></li>
      {{#each currentMonth.servers}}
        <li {{action 'selectServer' id}}><a>{{name}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Virus {{currentVirus.virus}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li {{bind-attr class="currentServer::hidden"}} {{action 'selectAllVirus'}}><a>All</a></li>
      {{#each currentServer.viruses}}
        <li {{action 'selectVirus' this}}><a>{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
    <!--<li><a href="#">Action</a></li>-->
      <!--<li><a href="#">Another action</a></li>-->
      <!--<li><a href="#">Something else here</a></li>-->
      <!--<li class="divider"></li>-->
      <!--<li><a href="#">Separated link</a></li>-->
</div>
<p><span class="label label-default">Số lượng nhiễm: {{currentVirus.clients.length}} {{currentVirus.clients.length:máy}}</span></p>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Tên Máy</th>
      <th>CPU</th>
      <th>Hệ Điều Hành</th>
      <th>IP</th>
      <th>Tuần</th>
      <th>Ngày</th>
      <th>Giờ</th>
    </tr>
    {{#each currentVirus.clients}}
      <tr>
        <td>{{ComputerName}}</td>
        <td>{{CPUName}}</td>
        <td>{{OSName}}</td>
        <td>{{IP}}</td>
        <td>{{OnWeek}}</td>
        <td>{{OnDay}}</td>
        <td>{{OnHour}}</td>

      </tr>
    {{/each}}
  </table>
</div>
<div {{bind-attr class="serverInfectedRatio::hidden :table-responsive"}}>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Server</th>
      <th>Số Máy</th>
      <th>Số Máy Nhiễm</th>
      <th>Tỉ Lệ Nhiễm</th>
    </tr>
    {{#each serverInfectedRatio}}
      <tr {{action 'selectServer' id}}>
        <td>{{name}}</td>
        <td>{{numOfClients}}</td>
        <td>{{numOfInfectedClients}}</td>
        <td>{{ratio}}</td>
      </tr>
    {{/each}}
  </table>
</div>
<!--</div>-->