  {{!--<h3>Số lượng Server: <span class="label label-primary">{{serversData.length}}</span></h3>--}}
  <p><span class="label label-default">Số lượng Server: {{serversData.length}}</span></p>
  <div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Tên</th>
      <th>Mô tả</th>
      <th>Mac address</th>
      <th>IP</th>
      <th>Số lượng máy</th>
      <th>Số máy nhiễm virus</th>
    </tr>
    {{#each servers}}
      <tr>
        <td>{{Name}}</td>
        <td>{{Description}}</td>
        <td>{{MACAddress}}</td>
        <td>{{x-random 'ip'}}</td>
        <td>{{NumOfClients}}</td>
        <td>{{infected_clients}}</td>
      </tr>
    {{/each}}
  </table>
  </div>
  <h3><span class="label label-primary">Tình trạng máy nhiễm trên Server</span></h3>
  <canvas id="first-chart" width="700" height="400" class="_chart-canvas"></canvas>
  <h3><span class="label label-primary">Top 10 máy tính bi nhiễm virus nhiều nhất</span></h3>
  <canvas id="second-chart" width="700" height="400" class="_chart-canvas"></canvas>
  <h3><span class="label label-primary">Top 10 malware trong tháng</span></h3>
  <canvas id="third-chart" width="700" height="400" class="_chart-canvas"></canvas>

