<div class="row" style="margin: 20px;">
  {{link-to '' 'login' tagName='i' class='fa fa-2x fa-power-off pull-right fa-border'}}
  {{link-to '' 'virusinfo' tagName='i' class='fa fa-2x fa-pie-chart pull-right fa-border'}}

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Năm {{currentYear.year}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {{#each years}}
        <li {{action 'selectYear' _view.contentIndex}}><a>{{year}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Tháng {{currentMonth.month}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {{#each currentYear.months}}
        <li {{action 'selectMonth' _view.contentIndex}}><a>{{this}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Server {{currentServer.server}}  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li {{bind-attr class="currentMonth::hidden"}} {{action 'selectAllServer'}}><a>All</a></li>
      {{#each currentMonth.servers}}
        <li {{action 'selectServer' id}}><a>{{name}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Virus {{currentVirus.virus}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li {{bind-attr class="currentServer::hidden"}} {{action 'selectAllVirus'}}><a>All</a></li>
      {{#each currentServer.viruses}}
        <li {{action 'selectVirus' this}}><a>{{this}}</a></li>
      {{/each}}
    </ul>
  </div>

</div>
<h4>Thống Kê Server&nbsp;<span class="label label-primary">{{currentServerName}}</span></h4>
<h5>{{currentTime}}</h5>
<div {{bind-attr class="serverInfectedRatio::hidden :table-responsive"}}>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      {{#with serverInfectedRatio.__sorting__}}
        <th {{action 'sortDataBy' 'serverInfectedRatio' 'name'}}>
          Server
          {{chevron-sort isAscending=ascending isVisible=name}}
        </th>
        <th {{action 'sortDataBy' 'serverInfectedRatio' 'description'}}>
          Mô Tả
          {{chevron-sort isAscending=ascending isVisible=description}}
        </th>
        <th {{action 'sortDataBy' 'serverInfectedRatio' 'ip'}}>
          IP
          {{chevron-sort isAscending=ascending isVisible=ip}}
        </th>
        <th {{action 'sortDataBy' 'serverInfectedRatio' 'mac'}}>
          MAC
          {{chevron-sort isAscending=ascending isVisible=mac}}
        </th>
        <th {{action 'sortDataBy' 'serverInfectedRatio' 'numOfClients'}}>
          Số Máy
          {{chevron-sort isAscending=ascending isVisible=numOfClients}}
        </th>
        <th {{action 'sortDataBy' 'serverInfectedRatio' 'numOfInfectedClients'}}>
          Số Máy Nhiễm
          {{chevron-sort isAscending=ascending isVisible=numOfInfectedClients}}
        </th>
        <th {{action 'sortDataBy' 'serverInfectedRatio' 'ratio'}}>
          Tỉ Lệ Nhiễm
          {{chevron-sort isAscending=ascending isVisible=ratio}}
        </th>
      {{/with}}
    </tr>
    </thead>
    <tbody>
    {{#each serverInfectedRatio}}
      <tr {{action 'selectServer' id}}>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{ip}}</td>
        <td>{{mac}}</td>
        <td>{{numOfClients}}</td>
        <td>{{numOfInfectedClients}}</td>
        <td>{{x-numeral ratio '0.00%'}}  {{ratioString}} </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<h5 {{bind-attr class='currentRestrictedAreas::hidden'}}><span class="label label-default">Truy cập trái phép: {{currentServerRestrictedAreas.length}}</span></h5>
{{!--<h5>Tổng Số Máy Nhiễm Virus: {{currentVirus.clients.length}} {{currentVirus.clients.length:máy}}</h5>--}}
<div class="table-responsive">
  <table id="virusreport-allserver" class="table table-striped table-bordered">
    <thead>
    <tr class="text-center">
      {{#with currentRestrictedAreas.__sorting__}}
        <th {{action 'sortDataBy' 'currentRestrictedAreas' 'serverName'}}>
          Server
          {{chevron-sort isAscending=ascending isVisible=serverName}}
        </th>
        {{!--<th {{action 'sortDataBy' 'currentRestrictedAreas' 'clientDetail.GroupName'}}>--}}
        <th>
          Nhóm
          {{!--{{chevron-sort isAscending=ascending isVisible=clientDetail.GroupName}}--}}
        </th>
        <th {{action 'sortDataBy' 'currentRestrictedAreas' 'CName'}}>
          Tên Máy
          {{chevron-sort isAscending=ascending isVisible=cName}}
        </th>
        {{!--<th {{action 'sortDataBy' 'currentRestrictedAreas' 'clientDetail.OSName'}}>--}}
        <th>
          Hệ Điều Hành
          {{!--{{chevron-sort isAscending=ascending isVisible=clientDetail.OSName}}--}}
        </th>
        <th {{action 'sortDataBy' 'currentRestrictedAreas' 'PublicIP'}}>
          IP
          {{chevron-sort isAscending=ascending isVisible=publicIP}}
        </th>
        <th {{action 'sortDataBy' 'currentRestrictedAreas' 'LogStr'}}>
          LogStr
          {{chevron-sort isAscending=ascending isVisible=logStr}}
        </th>
        <th {{action 'sortDataBy' 'currentRestrictedAreas' 'timeInfectedUnix'}}>
          Vi Phạm Đầu Tiên
        </th>
        <th {{action 'sortDataBy' 'currentRestrictedAreas' 'timeInfectedUnix'}}>
          Thời Gian Vi Phạm
          {{chevron-sort isAscending=ascending isVisible=timeInfectedUnix}}
        </th>

      {{/with}}
    </tr>
    </thead>
    <tbody>
    {{#each currentServerRestrictedAreas}}
      <tr class="text-left">
        <td>{{serverName}}</td>
        <td>{{clientDetail.GroupName}}</td>
        <td>{{CName}}</td>
        <td>{{clientDetail.OSName}}</td>
        <td>{{PublicIP}}</td>
        <td>{{LogStr}}</td>
        <td class="text-center"><span {{bind-attr class="isFirstViolated::invisible :fa :fa-lg :fa-ban :_color-warning "}}></span></td>
        <td class="text-center">{{timeInfected}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<h5><span class="label label-default">Tổng số máy nhiễm Virus: {{currentVirus.clients.length}}</span></h5>
{{!--<h5>Tổng Số Máy Nhiễm Virus: {{currentVirus.clients.length}} {{currentVirus.clients.length:máy}}</h5>--}}
<div class="table-responsive">
  <table id="virusreport-allserver" class="table table-striped table-bordered">
    <thead>
    <tr class="text-center">
      {{#with currentVirus.clients.__sorting__}}
        <th {{action 'sortDataBy' 'currentVirus.clients' 'serverName'}}>
          Server
          {{chevron-sort isAscending=ascending isVisible=serverName}}
        </th>
        <th {{action 'sortDataBy' 'currentVirus.clients' 'GroupName'}}>
          Nhóm
          {{chevron-sort isAscending=ascending isVisible=groupName}}
        </th>
        <th {{action 'sortDataBy' 'currentVirus.clients' 'ComputerName'}}>
          Tên Máy
          {{chevron-sort isAscending=ascending isVisible=computerName}}
        </th>
        <th {{action 'sortDataBy' 'currentVirus.clients' 'OSName'}}>
          Hệ Điều Hành
          {{chevron-sort isAscending=ascending isVisible=oSName}}
        </th>
        <th {{action 'sortDataBy' 'currentVirus.clients' 'IP'}}>
          IP
          {{chevron-sort isAscending=ascending isVisible=iP}}
        </th>
        <th {{action 'sortDataBy' 'currentVirus.clients' 'timeInfectedUnix'}}>
          Thời Gian Nhiễm &nbsp;&nbsp;
          {{chevron-sort isAscending=ascending isVisible=timeInfectedUnix}}
        </th>
        <th {{action 'sortDataBy' 'currentVirus.clients' 'timeInfectedUnix'}}>
          Máy Nhiễm Đầu Tiên
        </th>
        <th {{action 'sortDataBy' 'currentVirus.clients' 'virusName'}}>
          Tên Virus
          {{chevron-sort isAscending=ascending isVisible=virusName}}
        </th>
      {{/with}}
    </tr>
    </thead>
    <tbody>
    {{#each currentVirus.clients}}
      <tr class="text-left">
        <td>{{serverName}}</td>
        <td>{{GroupName}}</td>
        <td>{{ComputerName}}</td>
        <td>{{OSName}}</td>
        <td>{{ipDotNotation}}</td>
        <td class="text-center">{{timeInfected}}</td>
        <td class="text-center"><span {{bind-attr class="isFirstInfected::invisible :fa :fa-lg :fa-bug :_color-warning "}}></span></td>
        <td>{{virusName}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
